@model IEnumerable<OpenEMR.Models.Barang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskripsiBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SatuanUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HargaJual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeskripsiBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatuanUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HargaJual)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KodeBarang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KodeBarang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KodeBarang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
