@model IEnumerable<OpenEMR.Models.Penjamin>

@{
    ViewData["Title"] = "Penjamin";
}

<h1>Penjamin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaPenjamin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPasien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifJasaAdministrasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifRumahSakit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTarif)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaPenjamin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPasien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarifJasaAdministrasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarifRumahSakit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTarif)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
